<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productionstep">
            <h2><span jhiTranslate="casb2BApp.productionstep.detail.title">Productionstep</span> {{productionstep.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="casb2BApp.productionstep.name">Name</span></dt>
                <dd>
                    <span>{{productionstep.name}}</span>
                </dd>
                <dt><span jhiTranslate="casb2BApp.productionstep.business">Business</span></dt>
                <dd>
                    <div *ngIf="productionstep.business">
                        <a [routerLink]="['/business', productionstep.business?.id, 'view']">{{productionstep.business?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/productionstep', productionstep.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
