<div class="row">
    <div class="col-md-8">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Secteur" aria-label="Secteur" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option (click)="select(option)" *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>
                <!-- Progress Column -->
                <ng-container matColumnDef="raisonSociale">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Raison Sociale </th>
                    <td mat-cell *matCellDef="let row"> {{row.raisonSociale}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="subsector.name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sous-secteur </th>
                    <td mat-cell *matCellDef="let row"> {{row.subsector?.name}} </td>
                </ng-container>
                <!-- Color Column -->
                <ng-container matColumnDef="fixe">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                    <td mat-cell *matCellDef="let row">Portable: {{row.telecom}} /  {{row.orange}} / {{row.ooredoo}} <br>
                        Fixe :{{row.fixe}} / {{row.fixe}} <br>
                        Fax :{{row.fax}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="region.name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Region </th>
                    <td mat-cell *matCellDef="let row"> {{row.region?.name}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
        </div>
    </div>
    <div class="col-md-4">
    </div>
