<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appointment">
            <h2><span jhiTranslate="casb2BApp.appointment.detail.title">Appointment</span> {{appointment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="casb2BApp.appointment.date">Date</span></dt>
                <dd>
                    <span>{{appointment.date}}</span>
                </dd>
                <dt><span jhiTranslate="casb2BApp.appointment.time">Time</span></dt>
                <dd>
                    <span>{{appointment.time}}</span>
                </dd>
                <dt><span jhiTranslate="casb2BApp.appointment.location">Location</span></dt>
                <dd>
                    <span>{{appointment.location}}</span>
                </dd>
                <dt><span jhiTranslate="casb2BApp.appointment.numTable">Num Table</span></dt>
                <dd>
                    <span>{{appointment.numTable}}</span>
                </dd>
                <dt><span jhiTranslate="casb2BApp.appointment.etat">Etat</span></dt>
                <dd>
                    <span jhiTranslate="{{'casb2BApp.EtatAppointment.' + appointment.etat}}">{{appointment.etat}}</span>
                </dd>
                <dt><span jhiTranslate="casb2BApp.appointment.host">Host</span></dt>
                <dd>
                    <span>{{appointment.host}}</span>
                </dd>
                <dt><span jhiTranslate="casb2BApp.appointment.guest">Guest</span></dt>
                <dd>
                    <span>{{appointment.guest}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/appointment', appointment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
